.pagination {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: 20px auto;
  align-items: center;

  &__button {
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid grey;

    &:hover {
      border: 1px solid #ff9800;
    }
  }

  &__item {
    color: black;
    margin: 0;
    text-decoration: none !important;
    font-size: 20px;

    &:hover {
      color: rgb(255, 152, 0);
    }

    &--active {
      color: rgb(255, 152, 0);
      margin: 0;
      text-decoration: none;
      font-size: 20px;
    }
  }


}